
body {
   background: rgb(116, 173, 219);
   font-family: 'Roboto', sans-serif;
}
.uiform {
   max-width: 350px;
   padding: 80px 30px 30px;
   margin: 50px auto 30px;
   background: white;
}
.uiform h3 {
   position: relative;
   z-index: 5;
   margin: 0 0 60px;
   text-align: center;
   color: #4a90e2;
   font-size: 30px;
   font-weight: normal;
}
.uiform h3:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 60px;
   top: -30px;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background: #fee8e4;
}
.uiform h3:after {
   content: "";
   position: absolute;
   z-index: -1;
   right: 50px;
   top: -40px;
   width: 0;
   height: 0;
   border-left: 55px solid transparent;
   border-right: 55px solid transparent;
   border-bottom: 90px solid #ffe3b5;
}
.formrow {
   position: relative;
   margin-bottom: 40px;
}
.formrow input {
   display: block;
   width: 100%;
   padding: 0 10px;
   line-height: 40px;
   font-family: 'Roboto', sans-serif;
   background: none;
   border-width: 0;
   border-bottom: 2px solid rgb(39, 55, 145);
   transition: all 0.2s ease;
}
.formrow label {
   position: absolute;
   left: 13px;
   color: #9d959d;
   font-size: 20px;
   font-weight: 300;
   transform: translateY(-35px);
   transition: all 0.2s ease;
}
.formrow input:focus {
   outline: 0;
   border-color: #F77A52;
}
.formrow input:focus+label, .formrow input:valid+label {
   transform: translateY(-60px);
   margin-left: -14px;
   font-size: 14px;
   font-weight: 400;
   outline: 0;
   border-color: #f36d41;
   color: #F77A52;
}
.uiform input[type="submit"] {
   width: 100%;
   padding: 0;
   line-height: 42px;
   background: rgb(235, 118, 91);
   border-width: 0;
   color: blue;
   font-size: 20px;
   border-radius: 16px;
}
.uiform p {
   margin: 0;
   padding-top: 10px;
}